[submodule "private"]
	path = private
	url = https://gitea.angrydonkey.io/titters/homelab-private
[submodule "kubespray/kubespray"]
	path = kubespray/kubespray
	url = https://github.com/kubernetes-sigs/kubespray
[submodule "charts"]
	path = charts
	url = https://github.com/jasonb5/charts
