#cloud-config
hostname: {{ inventory_hostname }}
fqdn: {{ inventory_hostname }}
packages:
- qemu-guest-agent
- nfs-client
package_update: true
package_reboot_if_required: true
runcmd:
- systemctl start qemu-guest-agent
- systemctl enable qemu-guest-agent
- apt install -y linux-modules-extra-`uname -r`
- sed -i 's/\#\?\(PasswordAuthentication .*\)/\#\1/' /etc/ssh/sshd_config
users:
- name: root
  lock_passwd: true
  shell: /bin/bash
  ssh_redirect_user: true
- name: {{ username }}
  lock_passwd: false
  passwd: {{ password }}
  shell: /bin/bash
  sudo: ALL=(ALL) NOPASSWD:ALL
write_files:
- path: /etc/ssh/trusted-user-ca-keys.pem
  content: {{ lookup('ansible.builtin.file', vault_ca_path) }}
- path: /etc/ssh/sshd_config.d/00-user.conf
  content: |
    TrustedUserCAKeys /etc/ssh/trusted-user-ca-keys.pem

    PermitRootLogin no

    Match User root
      PasswordAuthentication no

    Match User {{ username }}
      PasswordAuthentication yes
